<section class="history_index">
  <h1>履歴</h1>
  <p>Find me in app/views/histories/index.html.erb</p>

  <div class="history_list">
    <table cellspacing="0" border="2">
      <% @recently_ym.each do |ym| %>
        <tr>
          <td>
            <% year = ym[0] %>
            <% month = ym[1] %>
            <% sum = ym[2] %>
            <%= link_to "#{year}年 #{month}月",
                        history_path("#{ym[0]}-#{ym[1]}", start_date: "#{ym[0]}-#{ym[1]}-1") %>
          </td>
          <td class="monthly_sum">
            <%= "¥#{sum.to_s(:delimited)}" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <h1>毎月の集計</h1>
  <div class="graph_button">
    <ul>
      <li>
        <%= button_to '合計金額', request.url,
                                   { params: {graph_switch: '1' }, method: :get, remote: true } %>
      </li>
      <li>
        <%= button_to '目的別の合計', request.url,
                                    { params: {graph_switch: '2' }, method: :get, remote: true } %>
      </li>
    </ul>
  </div>
  <div class="display_graph">
    <%= render params[:graph_switch] == "2" ? 'graph2' : 'graph' %>
  </div>
  <div>
    ※ グラフが表示されない場合
    <ul>
      <li>
        <%= button_to 'グラフ表示', request.url, method: :get %>
      </li>
    </ul>
  </div>
</section>