<section class="account_index">
  <h1>家計簿 index</h1>
  <p>今日の日付：<%= @today.to_s.gsub(/-/,'/') %></p>
  <%= @current_month %>
  <div class="account-form">
    <%= form_tag request.url do %>
      <table class="form_table">
        <tr>
          <td>日付</td>
          <td>カテゴリー</td>
          <td>目的</td>
          <td>金額</td>
        </tr>
        <tr>
          <td><input type="text" id="text1" name="date"></td>
          <td><input type="text" id="text2" name="category"></td>
          <td>
            <select name="purpose">
              <option value="">選択して下さい</option>
              <option>生活費</option>
              <option>趣味・娯楽</option>
              <option>仕事・勉強</option>
            </select>
          </td>
          <td><input type="text" id="test3" name="money"></td>
        </tr>
      </table>
      <input type="submit" value="登録">
    <% end %>
  </div>

  <br>
  ===================================
  <br>

  <h4>今月のお買い物データ</h4><br>
  <table class="data_table">
    <tr class="columns">
      <td>日付</td>
      <td>カテゴリー</td>
      <td>目的</td>
      <td>金額</td>
    </tr>
    <% @accounts.each do |account| %>
      <tr class="account_tr">
        <td class="date"><%= account.date.to_s.gsub(/-/,'/')  %></td>
        <td class="category"><%= account.category %></td>
        <td class="purpose"><%= account.purpose %></td>
        <td class="money"><%= account.money %></td>
        <td>
          <%= link_to account_path(account.id), method: "delete", style: "color: gray;", remote: true do %>
            <i class="fa fa-trash-alt"></i>
          <% end %>
          <i class="fa fa-cog"></i>
        </td>
        <% @sum_money += account.money %>
      </tr>
    <% end %>
    <tr id="sum_tr">
      <td></td>
      <td></td>
      <td><i id="sum_td">合計 :</i></td>
      <td id="sum_money"><%= @sum_money %></td>
    </tr>
  </table>
  <!-- <div id="calendar">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div> -->
</section>